      <%- include('partials/header.ejs') %>
    <h1>Welcome to Mars!</h1>
        <p>Mars is the fourth planet from the Sun 
        and is the second smallest planet in the 
        solar system. Named after the Roman god of war, 
        Mars is also often described as the “Red Planet” 
        due to its reddish appearance. Mars is a terrestrial 
        planet with a thin atmosphere composed primarily of 
        carbon dioxide.</p>
        
            <br>
            <img src="/img/mars.jpg" alt ="mars" width="300px" />
      <%- include('partials/footer.ejs') %>