      <%- include('partials/header.ejs') %>
    <h1>Welcome to Murcury!</h1>
        <p>Murcury is the closets panet to the sun.
        Because it is so close to the sun it is hard to 
        see from earth because the light of the sun blocks
        out the view. Mercury only has two days for each of
        its years. Mercury is the hottest planet!</p>
        
            <br>
            <img src="/img/mercury.jpg" alt ="mercury" width="300px" />
      <%- include('partials/footer.ejs') %>